body {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

.flex {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    flex-direction: row;
    &.center {
        align-items: center;
    }
    >.shrink {
        flex: 0 1 auto;
    }
    >.grow {
        flex: 1 0;
    }
}

.no-padding-top {
    padding-top: 0;
}

.cliccable {
    transition: all .25s ease;
    &:hover {
        transform: scale(.9);
    }
}

#header {
    -webkit-app-region: drag;
    #icons {
        -webkit-app-region: no-drag;
        .flex {
            justify-content: flex-end;
            cursor: pointer;
        }
        .icon {
            &.is-medium {
                font-size: 2em;
            }
        }
    }
}

.dl-tags {
    overflow-x: auto;
    overflow-y: hidden;
    .dl-btn {
        cursor: pointer;
        &:hover {
            opacity: .9;
        }
    }
}

.custbox {
    padding: 0;
    .info {
        padding: .5em 1em;
        flex-direction: column;
    }
    .secondRow {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

#playlist {
    .songs {
        .song {
            .dl-tags {
                .tag {
                    font-size: .55em;
                }
            }
        }
    }
}